.mainPage__Container--modified {
    background-image: url("../assets/wave3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height: 100vh;
    background-color: $second-color;
  }
  
  .mainPage__subContainer--modified > h2 {
    font-size: 3rem;
  }
  
  .formulario {
    background-color: $fourth-color;
    /* width: %; */
    border-radius: 15px;
    padding: 20px 20px;
    @include flex(column);
    align-items: center;
    gap: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  /* .field-set {
    @include flex(column);
    width: 100%;
  }
  
  .input {
    height: 35px;
    padding: 10px 5px;
    font-family: "Poppins", sans-serif;
  }
  
  .text-area {
    max-height: 100px;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
    padding: 10px 5px;
    resize: none;
  } */