.mainPage__Container {
    background-image: url("../assets/wave3.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    background-color: $second-color;
  }
  
  .menuName {
    width: 3rem;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $third-color;
    text-align: center;
    text-orientation: upright;
    writing-mode: vertical-lr;
  }
  
  @media (max-width: 475px) {
    .menuName {
      display: none;
    }
  }
  
  .mainPage__subContainer {
    padding: 5% 1%;
    width: 100%;
    @include flex(row);
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
    overflow: auto;
    @include bordes
  }
  
  .mainPage__subContainer > .mainServices__card {
    /*  ONLINE MASTERING*/
    height: fit-content;
    width: 550px;
  }
  
  .textos {
    width: 35%;
    padding: 5px 0;
    word-wrap: break-word;
  }
  
  .textos h1 {
    font-size: 2vh;
  }
  
  .textos p {
    font-size: 10px;
  }
  
  .cuadrados img {
    width: 50%;
  }
  
  .cuadrados {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: $fourth-color;
    margin-bottom: 10px;
    max-width: 500px;
    height: auto;
  }